.containerBoxNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerNav {
  display: flex;
  gap: 20px
}

.containerNav a, .containerNav button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background: #eee;
  border-radius: .2em;
  border: 1px solid transparent;
  transition: 1s;
  cursor: pointer;
}
