.input{
  border: 1px solid #eee;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background: #eee;
  transition: .2s;
}

.input:hover,
.input:focus {
    outline: none;
    border-color: #fb1;
    background: white;
    box-shadow: 0 0 0 3px #fea;
}

.error{
  color: rgb(249, 30, 30);
  margin-top: 5px;
  font-size: 0.9em;
  font-weight: 100;
}
